.container {
    width: 94%;
    max-width: 760px;
    margin: 0 auto;

    @media print {
        width: 100%;
        max-width: 100%;
    }
}

.split {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-grow: grow;

    @media screen and (max-width: 560px) {
        display: block;
        margin: 5px 0;
    }
}

.w50 {
    width: 50%;

    @media screen and (max-width: 560px) {
        width: 100%;
    }
}

.header {
    background-color: #227FCA;
    padding: 40px 0 120px;
    color: #fff;
    
    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 60px;

        .siteName {
            font-size: 24px;
            font-weight: 700;
            text-decoration: none;
            color: #fff;
        }
    }
}

.document {
    background-color: #fff;
    padding: 40px 50px;
    border-radius: 4px;
    margin-top: -120px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);

    @media print {
        & {
            padding: 0;
            box-shadow: none;
        }
    }
}

.tasks {
    padding-bottom: 30px;

    .head {
        border-bottom: 2px solid #666;
        font-weight: 600;
        padding: 20px 0 10px;
    }

    .row {
        border-bottom: 1px solid #ddd;
        padding: 10px 0;
    }

    .totals {
        padding: 10px 0;
        font-weight: bold;
        text-align: right;
    }

    .desc1 {
        width: 70%;

        @media screen and (max-width: 560px) {
            width: 100%;
        }
    }

    .hours {
        width: 10%;
        text-align: right;

        @media screen and (max-width: 560px) {
            text-align: left;
            width: 100%;
        }
    }

    .rate {
        width: 10%;
        text-align: right;

        @media screen and (max-width: 560px) {
            text-align: left;
            width: 100%;
        }
    }

    .total {
        width: 10%;
        text-align: right;

        @media screen and (max-width: 560px) {
            text-align: left;
            width: 100%;
            font-weight: bold;
        }
    }
}